
<div class="container">  
  <h1>Welcome to lallaland</h1> 
  <h2> Room List </h2> 

    <div>
        
        <ul ng-repeat="channel in channels">
            <li><a href="createChannel()">{{roomName}}</a></li>
            <li><button ng-click="joinChannel(Channel)">{roomName}}</button></li>
        </ul>
    </div>
<div class="col-md-3 col-xs-3">
                <p>Rooms</p>
                <ul ng-repeat="room in roomList"  ng-model="rooms">
    <li><a href="#/rooms/{{ roomName }}"> Herbergi {{ rooms}} </a></li>
</ul>
            </div>

    <input ng-model="roomName" placeholder="Insert name here">
    <button ng-click="createChannel()">Create!</button>
    <button ng-click="Dis()">disconnect!</button>

</div>





