
<div class="container">  
  <h1>Welcome to lallaland</h1> 
  <h2> STUFF </h2> 

<div class="col-md-3 col-xs-3">
                <p>Rooms Active</p>
                <ul ng-repeat="roomlist in users" >
    <li><a href="#/room/{{ roomName }}">{{ roomName }} {{ room }} </a></li>
</ul>
<ul>
    <p>Users Online </p>
                    <li ng-repeat="user in users">
                        {{ user }}
                    </li>
                </ul>
            </div>

    <input ng-model="roomName" placeholder="Insert name here">
    <button ng-click="createChannel()">Create!</button>
    <button ng-click="Dis()">disconnect!</button>

</div>





